input {
  file {
    path => "/home/logs/*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  grok {
    match => {
      "message" => "%{TIMESTAMP_ISO8601:timestamp} \[%{DATA:thread}\] \[%{DATA:traceId}\] %{LOGLEVEL:level} %{DATA:logger} - %{GREEDYDATA:msg}"
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch0:9200"]
    index => "logs-app"
  }
  stdout {
    codec => rubydebug
  }
}