input {
  file {
    path => "/home/logs/*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  grok {
    match => {
      "message" => "%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} %{NUMBER:thread} --- \[%{DATA:service}\] \[%{DATA:thread_name}\] %{JAVACLASS:class}: %{GREEDYDATA:message}"
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch0:9200"]
    index => "logs-app"
  }
  stdout {
    codec => rubydebug
  }
}